html
  font-size: 14px

body
  font-family: "Open Sans", sans-serif
  margin: 0

h1
  color: #ccc
  font-weight: 300
  font-size: 2rem
p
  font-size: 1em
figure
  margin: auto

.content
  article
    padding: 50px 0
    max-width: 640px
    margin: 0 auto
    text-align: center

img
  max-width: 100%

/*Parallax*/
.bird-box
  position: relative
  height: 600px
  background:
    image: url(../images/bird-bg.jpg)
    size: auto 600px
    position: top center
    attachment: fixed
  overflow: hidden

.logo
  height: 100px
  width: 100%
  background:
    image: url(../images/black-bird-logo.svg)
    position: center
    repeat: no-repeat
  position: absolute
  top: 50%
  margin-top: -50px

.fore-bird
  width: 960px
  height: 733px
  position: absolute
  top: 380px
  left: 50%
  margin-left: -480px
  background:
    image: url(../images/fore-bird.png)
    repeat: no-repeat
    position: right bottom

.back-bird
  width: 960px
  height: 298px
  position: absolute
  left: 50%
  margin-left: -480px
  background:
    image: url(../images/back-bird.png)
    repeat: no-repeat
    position: top left


/* Model Grid */
.clothes-pics
  margin-bottom: 100px
  figure
    margin-bottom: 20px
    position: relative
    opacity: 0
    transition: all .5s ease-in-out
    transform: translateX(20px)
    overflow: hidden
    cursor: pointer
    &.is-showing
      opacity: 1
      transform: translateX(0)
    img
      display: block
      transform: scale(1)
      transition: all .3s ease-in-out

    &:hover
      figcaption
        left: 0
      img
        transform: scale(1.1)

  figcaption
    position: absolute
    bottom: 10px
    left: -100%
    padding: 2px 8px
    background: black
    color: white
    font-size: 1rem
    transition: all  .3s ease-in-out

/* Large Window */
.large-window
  height: 640px
  margin: 100px 0
  position: relative
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
  background:
    image: url(../images/model2.jpg)
    size: auto 1100px
    position: center 0
    repeat: repeat-y
    attachment: fixed

.window-tint
  background-color: rgba(0,0,0, .5)
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center

.promo-text
  color: #fff
  font-weight: 100
  font-size: 50px

  strong
    display: block
    font-size: 30px
  span
    font:
      weight: 300
      size: 18px
      style: italic
    color: rgba(255,255,255, .6)
  .window-cta
    font-size: 20px
    text-decoration: none
    color: inherit
    border: 1px solid white
    padding: 10px 20px
    transition: all .3s ease-in-out
    &:hover
      background: #fff
      color: black


/* Posts */
.blog-posts
  margin-top: 100px
  position: relative
  .post
    border: 1px solid #E1E1E1
    padding: 20px 20px 0
  .post-1
    transform: translate(100px, 20px)
  .post-2
    z-index: 1
  .post-3
    transform: translate(-100px, 20px)