doctype html
html(lang='en')
  head
    title BlackBird Co.
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='css/skeleton.css')
    link(rel='stylesheet' href='css/main.css')
  body
    header.bird-box
      .back-bird
      .logo
      .fore-bird

    section.content
      article
        h1 Unique Style
        hr
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        hr

        .clothes-pics
          .row.img-row
            figure.columns.four
              img(src='images/model1.jpg')
              figcaption BlackBird Sweater - <strong>$135</strong>

            figure.columns.four
              img(src='images/model2.jpg')
              figcaption BlackBird trousers - <strong>$135</strong>

            figure.columns.four
              img(src='images/model3.jpg')
              figcaption BlackBird jacket - <strong>$135</strong>

          .row.img-row
            figure.columns.four
              img(src='images/model3.jpg')
              figcaption BlackBird Sweater - <strong>$135</strong>

            figure.columns.four
              img(src='images/model2.jpg')
              figcaption BlackBird trousers - <strong>$135</strong>

            figure.columns.four
              img(src='images/model1.jpg')
              figcaption BlackBird jacket - <strong>$135</strong>

          .row.img-row
            figure.columns.four
              img(src='images/model1.jpg')
              figcaption BlackBird Sweater - <strong>$135</strong>

            figure.columns.four
              img(src='images/model2.jpg')
              figcaption BlackBird trousers - <strong>$135</strong>

            figure.columns.four
              img(src='images/model3.jpg')
              figcaption BlackBird jacket - <strong>$135</strong>

        h1 Clothing store
        hr
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        .large-window
          .window-tint
            .promo-text Fall Suits
              strong  <span>from</span> $99
              a(href='').window-cta Shop Now

        h1 Rich history
        hr
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        hr

        .blog-posts.row
          .post.columns.four.post-1
            h5 Post Title
            img(src='/images/posts/one.jpg')
            p Lorem ipsum some text
            p: a.button(href='') read more

          .post.columns.four.post-2
            h5 Post Title
            img(src='/images/posts/two.jpg')
            p Lorem ipsum some text
            p: a.button(href='') read more

          .post.columns.four.post-3
            h5 Post Title
            img(src='/images/posts/three.jpg')
            p Lorem ipsum some text
            p: a.button(href='') read more

    footer
      .row.footer-stuff
        .columns.three
          span  find us on
          ul
            li: a(href='') Twitter
            li: a(href='') Facebook
            li: a(href='') Pinterest
            li: a(href='') Instagram
        .columns.three
          span other shops
          ul
            li: a(href='') Red Robin
            li: a(href='') Emerald Eagle
            li: a(href='') Crimson Crane
            li: a(href='') Auburn Abbot
        .columns.six
          p <strong>Sign Up for the newsletter</strong>

          form.row
            .columns.eight
              input(type='email' placeholder='Your email')
            .columns.four
              input(type='submit' value='Submit').button-primary

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
    script(src='js/main.js')